In [ ]:
# 动物园数据库中的所有表格
# animals
# 此表列出动物园中的各个动物。每只动物仅占一行。可能存在多只动物同名，甚至多只同物种动物同名的情况。
# name — 动物的名字（例如：“George”）
# species — 动物所属物种（例如：“gorilla”（大猩猩））
# birthdate — 动物的出生日期（例如：'1998-05-18'）
# diet
# 此表对照列出各物种及其所吃的食物。动物园中的每个物种至少吃一种食物，许多物种吃多种食物。 如果某物种食用一种以上的食物，则该物种将占多行。
# species — 物种名称（例如：“hyena”（鬣狗））
# food — 物种所吃食物的名称（例如：“meat”（肉类））
# taxonomy
# 此表列出动物园中各物种的（部分）生物分类学名称。可用于辨别物种之间进化论角度的亲缘关系。
# name — 物种的俗称（例如，“jackal”（豺））
# species — 分类学物种名称（例如，“aureus”（亚洲胡狼））
# genus — 分类学属名（例如，“Canis”（犬属））
# family — 分类学科名（例如，“Canidae”（犬科））
# t_order — 分类学目名（例如，“Carnivora”（食肉目））
# 如果你对此分类一无所知，也无需担心，本课程不需要详细掌握这些信息。但如果你对此感到好奇，可查阅维基百科相关文章 分类学 及 生物分类。
# 
# ordernames
# 此表列出 taxonomy 表中各分类学目的俗称。
# t_order — 分类学目名（例如，“Cetacea”（鲸目））
# name — 俗称（例如，“whales and dolphins”（鲸和海豚））

In [ ]:
# limit 10 offset 10 从第11行开始显示10条数据
# order by name,age 先 首先按姓名排序，然后在每个姓名中再按年龄排序
# group by 只和count或sum这种聚合函数一起使用（可用as给求和列起名）

# select count(*) as number ,species from animals group by species order by number
# "INSERT INTO animals (name,species,birthdate) values('123','opossums', '1999-1-1') ;"
# group by 后不能使用where，where作用在聚合之前的列
# where 作用于源表，having作用于结果表，在group by后使用
# SELECT food,count(*) as number from animals join diet on animals.species = diet.species group by food
# having number = 1

SELECT ordernames.name,count(*) as number from taxonomy 
join ordernames on taxonomy.t_order = ordernames.t_order
join animals on animals.species = taxonomy.species group by taxonomy.t_order

SELECT Email, FirstName,LastName,Genre.name as Name
 
FROM (((Customer JOIN Invoice ON Customer.CustomerId  = Invoice.CustomerId) as Customer_Invoice
join InvoiceLine on Invoice.InvoiceId = InvoiceLine.InvoiceId) as Customer_Invoice_InvoiceLine
join Track on InvoiceLine.TrackId  = Track.TrackId ) as Customer_Invoice_InvoiceLine_Track 
join Genre on Track.GenreId = Genre.GenreId  where Genre.name = 'Rock' group by email 
order by email ;

((Genre join Genre.GenreId = Track.GenreId) as Genre_Track
join Album on Track.AlbumId = Album.AlbumId) as Genre_Track_Album
join Artist on Album.ArtistId = Artist.ArtistId ;